<nav>
  <a routerLink="home" routerLinkActive="active">Home</a>
  <a routerLink="customers" routerLinkActive="active">Customers</a>
  <a routerLink="products" routerLinkActive="active">Products</a>
  <a routerLink="settings" routerLinkActive="active">Settings</a>
  <a routerLink="home/impressum" routerLinkActive="active">Impressum</a>
  <a routerLink="home/impressum2" routerLinkActive="active">Impressum2</a>
  <a routerLink="home/impressum3" routerLinkActive="active">Impressum3</a>
  <a routerLink="doesNotExists" routerLinkActive="active" class="app-disabled">I am disabled</a>
</nav>

<div class="{{ currentTheme }}" [@fadeInAnimation]="getRouteAnimation(route)">
  <router-outlet #route="outlet"></router-outlet>
</div>

<div class="theme">Theme: {{ currentTheme }}</div>