<button (click)="useLanguage('en')">In english</button>
<button (click)="useLanguage('de')">Auf Deutsch</button>

<h1>{{ 'impressum.title' | translate }}</h1>

<h3>{{ 'impressum.greeting' | translate: user }}</h3>

<p translate>impressum.content</p>

<div [innerHTML]="'impressum.info' | translate"></div>

<div>This is the title loaded from Code --> {{ fromCode$ | async }}</div>

<footer>
  <a [translate]="'impressum.sitemap'"></a> |
  <a translate>impressum.career</a> |
  <a translate>impressum.home</a>

  <br />
  <br />
  <br />

  <div>
    <span translate>general.lastupdatedAt</span
    ><span>{{ lastUpdatedAt | date: 'short':undefined:locale }}</span>
    <p translate [translateParams]="{ days: days }">
      That is {days, plural, =0 {just now} =1 {yesterday} other
      {{{days | number:'1.0-0'}} days ago}}
    </p>
    <ng-container>{{ 'general.copyright' | translate }}</ng-container>
  </div>

  <ul>
    <li translate [translateParams]="{ gender: 'female', name: 'Sarah' }">
      impressum.developers
    </li>
    <li translate [translateParams]="{ gender: 'male', name: 'Peter' }">
      impressum.developers
    </li>
    <li>
      {{
        'impressum.developers' | translate: "{ gender: 'male', name: 'Peter' }"
      }}
    </li>
    <li>
      {{ 'impressum.developers' | translate: "{ name: 'Sarah + Peter' }" }}
    </li>
  </ul>
</footer>
